.fs-25{
    font-size: 25px;
}
.pointer{
    cursor: pointer;
}
.counter{
    border-radius: 50%;
    background-color: red;
    color: white;
    position: relative;
    bottom: 15px;
    left: 38px;
    padding: 0px 5px;
}