/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.color-bg{
    position: relative;
    float: right;
    width: 450px;
    height: 21px;
    margin-top: -21px;
}
body{
    background-color: #f8f9fa;
}


